snippet date "DD-MM-YYYY" w
`!v strftime("%d/%m/%Y")`
endsnippet

snippet box "Box"
`!p snip.rv = '┌' + '─' * (len(t[1]) + 2) + '┐'`
│ $1 │
`!p snip.rv = '└' + '─' * (len(t[1]) + 2) + '┘'`
$0
endsnippet

snippet fecha "Month DD, YYYY" w
`!v strftime("%A, %_d de %B de %Y")`
endsnippet

